body {
    font-family: "ubuntu", sans-serif ;
    color: #201b2d;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.logo{
    align-self: flex-start;
}

div, p, input,button,form, span, a, ul,li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
}

.container {
    width: 1170px;
    margin: 0 auto ;
}

.desktop {
    width: 700px;
    margin-right: -140px;
}

.header {
    background-image: linear-gradient(to right bottom, #4ebffe, #46b3f5, #40a7ec, #3b9be3, #378fd9);
    padding-top: 62px;
    padding-bottom: 109px;
    color: white;
    
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.offer{
    width: 565px;
}

.title {
    font-size: 37px;
    margin-top: 142;
    width: 100%;
}

span {
    font-size: 59px;
}

.intro {
    margin-bottom: 49px;
    width: 403px;
    margin-top: 30px;
    font-family: "open-sans",sans-serif;
    font-weight: regular;
    font-size: 16px;
    letter-spacing: 0.05em;
}

p {
    line-height: 1.6em;
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    background: #ffd429;
    color: #2e2a1b;
    display: block;
    width: 222px;
    padding: 19px 0px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #f8c704;
}

.section-title {
    font-size: 30px;
    
}
.learn {
    padding-top: 100px;
    padding-bottom: 116px;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    text-align: center;
}

.skill {
    width: 310px;
    background: url("../img/icon1.png") no-repeat top center;
    padding-top: 120px;


}

.section-title {
    font-size: 30px;
    text-align: center;
}

.skill-title {
    padding-bottom: 18px;
    font-size: 19px;
}

.skill-travel {
    background: url("../img/icon2.png") no-repeat top center;
}

.skill-value {
    background: url("../img/icon3.png") no-repeat top center;
}

.mail {
    background: #ecf3f8;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form {
    max-width: 340px;
    margin: 0 auto;
    padding-top: 55px;
}

.input {
    width: 100%;
    height: 46px;
    border: 1px solid #bbbbbb;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    border-radius: 3px;
    padding-left: 24px;
    font-weight: 500;
    margin: 7px; 
    color: #9f9ea2;
}

.btn-form {
    border: none;
    cursor: pointer;
    color: #2e2a1b;
    padding-top: 20px;
    padding-bottom: 35px;
    font-family: 'montserrat', sans-serif;
}

.footer {
    background: #164d7a;
    color: white;
    font-size: 'open-sans', sans-serif;
    padding-top: 62px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 14px;
}

/*Responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .wrapper {
        flex-direction: column;
        display: block;
        width: 100%;
       
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    
    .skills {
        flex-direction: column;
    }

    .skill {
        padding-bottom: 30px;
        width: 100%;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .wrapper {
        width:100%
    }

  
}

/* 320px - 576px*/
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .offer {
        width: 100%;
    }
    
  
    
    .skills {
        width: 100%;

    }
}